#top {
  background: var(--black);
  padding: 1rem 0;

  p {
    text-align: center;
    color: var(--white);

    span {
      color: var(--green);
    }
  }
}

header {
  padding: 0.75rem 0;
  background: var(--white);

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .logo {
      width: fit-content;
    }

    .social {
      position: absolute;
      right: 32px;
    }
  }
}
